<p>dev works!</p>

<div
*ngIf="devToShow"
>
<img src= "{{ devToShow.logo }} " alt="">
<!-- <p>ID: {{ devToShow._id }}</p> -->
<p>NAME: {{ devToShow.name }}</p>
<span>AI:
    <ul>
        <li *ngFor="let ai of devToShow.ais">{{ ai._id }}</li>
      </ul></span>
<!-- <p>YEAR: {{ devToShow.year }}</p> -->
<!-- <a href="{{ devToShow.link }}" target="_blank">LINK</a> -->
<div>

<button 
     (click)="navigateToDetail(devToShow._id)">
    INFO
</button>
<button 
     (click)="navigateToEditElement(devToShow._id)">
    EDIT
</button>
<button
            class="product__button product__button--remove"
            (click)="removeDev()"
        >Remove</button>
</div>

</div>
