.info-box {
  max-height: 350px;
  overflow: auto;
}

.detail {
  margin-top: 20px;
  border: 1px solid black;
  border-right: none;
  border-radius: 15px 0px 0px 15px;
  overflow: auto;
}

.detail-logo {
  float: left;
  width: 450px;
  height: 450px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 15px 0px 0px 15px;
}

.detail p {
  overflow: auto;
  margin: 0;
  padding: 15px;
  padding-right: 100px;
}

.detail-link {
  padding: 15px;
  font-size: xx-large;
}

@media only screen and (max-width: 768px) {
  .detail {
    display: flex;
    flex-direction: column;
  }
  .detail-logo {
    width: 360px;
  height: 360px;
    margin-bottom: 20px;
  }
}
