<div class="list font">
    <div class="box">
        <input class="box-search" placeholder="Type an AI name, i.e. HAL 9000" [(ngModel)]="inputValue"
            (input)="filterAis()">
    </div>

    <div class="ai-list" *ngIf="ais && ais.length > 0">
        <app-ai *ngFor="let ai of ais | slicePage: currentPage: pageSize" [aiToShow]="ai"></app-ai>
        <div *ngIf="totalPages > 1">
            <button [disabled]="currentPage <= 1" (click)="previousPage()">Previous</button>
            <button [disabled]="currentPage >= totalPages" (click)="nextPage()">Next</button>
          </div>
        </div>
</div>