// .nav-container {
//   text-align: center;
//   height: 60px;
// }

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8%;
    width: 100%;
  }

  .link {
    margin: 3%;
    text-decoration: none;
    color: black;
    cursor: pointer;
  
    &--active {
      text-decoration: underline;
      font-size: 5vw;
    }
  }
  
  @media (hover: hover) {
    .link:hover {
      font-size: 5vw;
    }
  }

  @media (max-width: 600px) {
    .nav-container {
      flex-direction: raw;
      height: auto;
      
    }
  
    .link {
      margin: 4% 0;
      font-size: 3.5vw;
    }
  
    .nav-container {
      max-width: 90%;
      margin: 0 auto;
    }
  }

