.nav-container {
  text-align: center;
  height: 60px;
}

.link {
  margin: 30px;
  text-decoration: none;
  color: black;
  cursor: pointer;

  &--active {
    text-decoration: underline;
    font-size: xx-large;
  }
}

.link:hover {
  font-size: xx-large;
}
