<p>how works!</p>
<div>
    <h2>How does AIDB work?</h2>
    <p>AIDB is a list of AI where we can find the information and the most advanced AI in the world and if possible also the addresses to be able to use them. At the top of the page we can always find the navigation bar to easily access all pages of the site and if we go to the list we can find the AI. There is also the possibility of registering to upload new AI to the DB or modify the information of those that are already there.</p>
</div>