<div class="box font">
    <h3>About...</h3>
<p>Este proyecto personal ha sido una gran oportunidad para explorar y aprender más sobre Angular.</p>
<p>Además, he practicado mi inglés, lo que siempre es útil, y nunca me he acostado antes de las 3 de la mañana trabajando en el XD.</p>
<p>También he aprendido mucho sobre el tema principal del proyecto, las inteligencias artificiales (IA). Ha sido una experiencia fascinante conocer más sobre cómo funcionan y cómo se aplican en diferentes campos.</p>
<p>En fin gracias a Jaime, Santi, José, Óscar y Abel, a la escuela y a los compañeros que comparten este camino conmigo.</p>
</div>