<div class="box">
<div class="social-icons" >
    
      <a href="https://twitter.com" target="_blank" ><img [src]="'assets/svg/twitter.svg'" alt="Mi archivo SVG">
      </a>
      <a href="https://github.com" target="_blank"><img [src]="'assets/svg/github.svg'" alt="Mi archivo SVG"></a>
      <a href="https://www.instagram.com" target="_blank"><img [src]="'assets/svg/instagram.svg'" alt="Mi archivo SVG"></a>
      <a href="https://www.linkedin.com" target="_blank"><img [src]="'assets/svg/linkedin.svg'" alt="Mi archivo SVG"></a>
    </div>
    <a href="#" class="about">About</a>
</div>
  